<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admission</title>
    <meta charset="UTF-8">
    <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>
<body>
<div class="container">
    <h2>Admission</h2>
    <span>Please fill out the following form to register at our hospital:</span>
    <form method="post" th:action="@{/}" th:object="${patient}">
        <label>Name: </label>
        <input th:field="*{name}" type="text"/>
        <p th:if="${#fields.hasErrors('name')}">Field cannot be left empty!</p>
        <label>Symptoms: </label>
        <input th:field="*{symptoms}" type="text"/>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>