h2 {
    color: darkblue;
    font-size: 2em;
}

body {
    background-image: url("https://wallpaperplay.com/walls/full/2/5/1/14019.jpg");
    padding: 35px;
    line-height: 30px;
    font-size: 20px;
}