<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TO DO PROGRAM</title>

    <meta charset="UTF-8"/>

    <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>

</head>
<body>
<h2>Add new todo</h2>

<br>


<form method="post" th:action="@{/}" th:object="${todo}">
    <label>Title: </label>
    <input th:field="*{title}" type="text"/>
    <p th:errors="*{title}" th:if="${#fields.hasErrors('title')}">Incorrect input</p>
    <button type="submit">ADD</button>
</form>
<table>
    <tr>
        <th>List of ToDo:</th>
        <th>Done:</th>
        <th>Action:</th>
    </tr>
    <tr th:each="todo : ${todos}">
        <td th:text="${todo.title}">Title</td>
        <td>
            <span th:if="${todo.done == true}">Done!</span>
            <form th:if="${todo.done == false}" method="post" th:action="@{/done}">
                <input name="id" th:value="${todo.id}" type="hidden"/>
                <button type="submit"> Mark it as done</button>
            </form>
        </td>
        <td>
            <form method="post" th:action="@{/delete}">
                <input name="id" th:value="${todo.id}" type="hidden"/>
                <button type="submit">Get rid of this crap!</button>
            </form>
        </td>
    </tr>
</table>

</body>
</html>